.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    background: white;
    border: 0;
    border-radius: 8px;
    padding: 16px;
}

.modal_title {
    text-align: center;
    margin-bottom: 32px;
}

.modal_save-btn {
    padding: 32px;
}