.noteScreen{
    position: relative;
    height: 100vh;
}

.addNoteFab{
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.noNotesText{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}