.note_card {
    height: 200px;
    width: auto;
    min-width: 70px;
    aspect-ratio: 1.33;
    position: relative;
    display: flex;
    cursor: pointer;
}

.note_card--content {
    height: 100%;
    padding: 16px;
}

.note-timestamp {
    position: absolute;
    bottom: 0;
    right: 0;
}

.note_label--color {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    aspect-ratio: 1;
    position: absolute;
    top: 8px;
    right: 8px
}
